{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block body %}
    <div class="container mb-5">
        <h1 class="mt-3 mb-3">Ajouter par exemple</h1>
        {{ form_start(form) }}
            <div class="row">
                <div class="offset-lg-3 col-lg-6 p-3" style="border : 1px solid lightgrey; border-radius : 5px; background-color : #eeeeee">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_row(form.appellation, {'attr' : {'placeholder' : 'Appellation du vin'}}) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.id_couleur, {'attr' : {'class' : 'selectColor', }}) }}
                        </div>
                        <div class="col-sm-12 mb-3">
                            {#{ form_row(form.id_domaine, {'attr' : {'class' : 'selectDomaine'}}) }#}
                            <label for="vin_id_domaine" class="required">Domaine</label>
                            <input type="text" id="vin_id_domaine" name="domaine" required="required" class="selectDomaine form-control">
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.id_region, {'attr' : {'class' : 'selectRegion '}}) }}
                        </div>
                        <div class="col-sm-12">
                            {{ form_row(form.image, {'attr' : {'placeholder' : 'Choisir une image'}}) }}
                        </div>
                        <div class="col-6">
                            <button class="btn btn-light">
                                <i class="fa fa-chevron-left"></i> Retour
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-light"><i class="fa fa-pencil"></i> {{ button|default('Ajouter') }}</button>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}