{% extends 'base.html.twig' %}


{% block stylesheets %}
<style>
.custom-file-label::after
{
    content : "Parcourir" !important;
}

option[selected=selected]
{
    font-style: italic;
    display : none;
}
</style>
{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="mt-3 mb-3">Modifier le vin : {{ vin.appellation }}</h1>
        {{ form_start(form) }}
            <div class="row">
                <div class="offset-lg-3 col-lg-6 p-3" style="border : 1px solid lightgrey; border-radius : 5px; background-color : #eeeeee">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form_row(form.region) }}
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(form.couleur) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.appellation) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.chateau) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            {{ form_row(form.annee) }}
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                {{ form_label(form.prix) }}
                                <div class="input-group mb-3">
                                    {{ form_widget(form.prix, {'class' : 'form-control', 'type' : 'text', 'aria-label' : 'montant en Euros'}) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            {{ form_row(form.quantite) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.image) }}
                        </div>
                        <div class="col-12">
                            {{ form_row(form.note) }}
                        </div>
                        <div class="col-12 text-right">
                            <button class="btn btn-primary">{{ button|default('Modifier') }}</button>
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}