<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <title>
            {% block title %}La Cave à Vin!{% endblock %}
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- font-family: 'Lobster', cursive; -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <!-- font-family: 'Roboto', ; -->
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <!-- logo -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/logo.png') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}
    </head>
    <body>
        {# Navbar #}
        <nav class="navbar-light text-center navAjustement">
            <div class="row">

                {# Compteur #}
                {% set url = app.request.requesturi %}
                {% if "/bienvenue" in url or "/connexion" in url or "/inscription" in url %}
                    <div class="col-3 btnCounter"></div>
                {% else %}
                    <div class="col-3 btnCounter">
                        <div class="searchBtl"><i class="fa fa-search" id="search"></i></div>
                        <div class="whiteBtl">{{ whiteWines }}</div>
                        <div class="roseBtl">{{ roseWines }}</div>
                        <div class="redBtl">{{ redWines }}</div>
                    </div>
                {% endif %}

                {# Titre #}
                <div class="col-7">
                    <a href="{{ path('main') }}" class="navbar-brand mb-0 h1">La Cave à Vin</a>
                </div>

                {# Profil #}
                <div class="col-2 profil">
                    {% if app.user %}
                        <div class="row rowProfil">
                            <div class="col-12 text-center dropdown">
                                {% if app.user.getProfileImg() %}
                                    <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}"
                                         height="40px"
                                         width="40px"
                                         class="dropdown-toggle profileImg"
                                         id="dropdownMenuButton"
                                         data-toggle="dropdown"
                                         aria-haspopup="true"
                                         aria-expanded="false"/>
                                {% else %}
                                    <img src="{{ asset('img/login.svg') }}"
                                        height="40px"
                                        width="40px"
                                        class="dropdown-toggle pointer"
                                        id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false" />
                                {% endif %}

                                <div class="dropdown-menu adjustDropdown" aria-labelledby="dropdownMenuButton">
                                    <div class="text-center mainProfilInfo">
                                        <div>
                                            {% if app.user.getProfileImg() %}
                                                <img src="{{ vich_uploader_asset(app.user, 'imageFile') }}"
                                                     height="60px"
                                                     width="60px"
                                                     class="profileImg" />
                                            {% else %}
                                                <img src="{{ asset('img/login.svg') }}"
                                                    height="60px"
                                                    width="60px" />
                                            {% endif %}
                                        </div>
                                        <div class="profilName">
                                            {{ app.user.prenom | capitalize }} {{ app.user.nom | capitalize }}
                                        </div>
                                        <div class="profilEmail">
                                            {{ app.user.email }}
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btnGestionCompte" role="button" href="{{ path('manage.profile') }}">Gérer votre compte</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="btn btnDeconnexion" role="button" href="{{ path('deconnexion') }}">Déconnexion</a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    {% else %}
                        <div class="row rowProfil">
                            <div class="col-12 text-center profilImg dropdown">
                                <a href="{{ path('connexion') }}">
                                    <img src="{{ asset('img/login.svg') }}"
                                        height="40px"
                                        width="40px"
                                        id="login"
                                        class="pointer" />
                                    </a>    
                                </div>
                            </div>
                        </div>

                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="overlay" style="display : none"></div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/base.js') }}"></script>
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
