{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}

    {# Message de validation #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center adaptedAlert">
            {{ message }}
        </div>
    {% endfor %}

    {# Message d'erreur #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-center adaptedAlert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container-fluid connectContainer">
        <div class="row rowConnect">

            <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 offset-1 col-10">
                <div class="leftPanel-signIn" id="signInForm">

                    {# Sign in Form #}
                    <div id="form-signIn">
                        <h2>SE CONNECTER</h2>
                        <h3>Vous avez déjà un compte ?</h3>

                        {# Connection Form #}
                        <form action="{{ path('connexion') }}" method="post">

                            {# Email input #}
                            <div class="form-group usernameInput">
                                <i class="fa fa-envelope"></i>
                                <input type="text" class="connectInput" required name="_username" placeholder="Email">
                            </div>

                            {# Password input #}
                            <div class="form-group passwordInput">
                                <i class="fa fa-lock"></i>
                                <input type="password" class="connectInput" required name="_password" placeholder="Mot de passe">
                            </div>

                            {# Connection Bouton #}
                            <div class="form-group text-center">
                                <button type="submit" class="signInBtn">CONNEXION</button>
                            </div>
                        </form>
                    </div>

                    {# Sign up Form #}
                    <div id="form-signUp">
                        <h2>SE CREER UN COMPTE</h2>
                        <h3>Vous n'avez pas de compte ?</h3>

                        <form action="{{ path('register') }}" method="post">
                            <div class="row">

                                {# Email #}
                                <div class="form-group emailInput">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" class="registerInput" required name="email" placeholder="Email">
                                </div>

                                {# Password #}
                                <div class="form-group passwordInput">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="registerInput" required name="password" id="passwordInput" placeholder="Mot de passe">
                                    <div class="passwordRequirements" id="requirements" style="display:none">
                                        <div class="alert alert-danger" role="alert">
                                            <div class="requirement" id="passLength"><i class="fa fa-times"></i><i class="fa fa-check" style="display:none"></i>8 caractères</div>
                                            <div class="requirement" id="passMin"><i class="fa fa-times"></i><i class="fa fa-check" style="display:none"></i>1 Minuscule</div>
                                            <div class="requirement" id="passMaj"><i class="fa fa-times"></i><i class="fa fa-check" style="display:none"></i>1 Majuscule</div>
                                            <div class="requirement" id="passNum"><i class="fa fa-times"></i><i class="fa fa-check" style="display:none"></i>1 Chiffre</div>
                                        </div>
                                    </div>
                                </div>

                                {# Confirm Password #}
                                <div class="form-group passwordInput">
                                    <i class="fa fa-lock"></i>
                                    <input type="password" class="registerInput" required name="confirm_password" placeholder="Confirmation">
                                    <i class="fa fa-check confirm-check"></i>
                                    <i class="fa fa-times confirm-times"></i>
                                </div>

                                {# Submit Bouton #}
                                <div class="form-group text-center signUpDiv">
                                    <button class="btn btn-light signUpBtn" id="registerBtn" disabled>{{ button|default('INSCRIPTION') }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="rightPanel-signIn" id="signUpForm">

                    {# Switch to Sign up #}
                    <div id="signIn-signUp">
                        <div class="mainTextRightPanel">
                            Bonjour
                        </div>
                            <h4>Hello, Friend!</h4>

                        {# Creation account Bouton #}
                        <div class="form-group text-center">
                            <button type="button" class="createAccountBtn" id="register">S'ENREGISTRER</button>
                        </div>
                    </div>

                    {# Switch to Sign In #}
                    <div id="signUp-signIn">
                        <div class="mainTextLeftPanel">
                            Bienvenue
                        </div>
                        <h4>Welcome</h4>

                        {# Connection Bouton #}
                        <div class="form-group text-center">
                            <button type="button" class="switchConnectPanel" id="connect">CONNEXION</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/connexion.js') }}"></script>
{% endblock %}