{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/archive.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Archive</h1>

        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th scope="col">Région</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Appelation</th>
                    <th scope="col">Année</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for archive in archives %}
                    <tr>
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.getEntityVin().getEntityRegion().getRegion() | capitalize }}</td>
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.getEntityVin().getEntityCouleur().getCouleur() | capitalize }}</td>
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.getEntityVin().getAppellation() }}</td>
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.getEntityVin().getAnnee() }}</td>
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.quantite }}</td>
                        {%  if archive.prix is empty %}
                            <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">NC</td>
                        {% else %}
                            <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.prix }} €</td>
                        {% endif %}
                        <td data-id="{{ archive.getEntityVin().getIdVin() }}" class="pointer">{{ archive.note }}</td>
                        <!-- Should be the last column -->
                        <td>
                            <img src="{{ asset('img/modifier.png') }}"
                                class="editWine pointer" 
                                id="{{ 'edit' ~ archive.getEntityVin().getIdVin() }}"
                                title="Modifier"
                                height="30px" 
                                width="30px" />
                            <img src="{{ asset('img/remettre.png') }}" 
                                class="addWine ml-3 pointer" 
                                id="{{ 'add' ~ archive.getEntityVin().getIdVin() }}"
                                title="Remettre" 
                                height="30px" 
                                width="30px" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/archive.js') }}"></script>
{% endblock %}