{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/archive.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Archive</h1>

        <div class="row">
            <div class="col-12 text-center">
                <a role="button" href="{{ path('caveavin') }}" class="btn btn-outline-dark">
                    <i class="fa fa-chevron-left"></i> Retour à la cave
                </a>
            </div>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Région</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Appelation</th>
                    <th scope="col">Année</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for archive in archives %}
                    <tr>
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.region | capitalize }}</td>
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.couleur | capitalize }}</td>
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.appellation }}</td>
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.annee }}</td>
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.quantite }}</td>
                        {%  if archive.prix is empty %}
                            <td data-id="{{ archive.id }}" style="cursor : pointer;">NC</td>
                        {% else %}
                            <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.prix }} €</td>
                        {% endif %}
                        <td data-id="{{ archive.id }}" style="cursor : pointer;">{{ archive.note }}</td>
                        <!-- Should be the last column -->
                        <td>
                            <img src="{{ asset('img/modifier.png') }}"
                                class="editWine pointer" 
                                id="{{ 'edit' ~ archive.id }}"
                                title="Modifier"
                                height="30px" 
                                width="30px" />
                            <img src="{{ asset('img/remettre.png') }}" 
                                class="addWine ml-3 pointer" 
                                id="{{ 'add' ~ archive.id }}"
                                title="Remettre" 
                                height="30px" 
                                width="30px" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/archive.js') }}"></script>
{% endblock %}