{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bottle.css') }}">
{% endblock %}

{% block body %}
    {% set tmpregion = wine.getEntityRegion.getRegion() | split(' ') %}
    {% if tmpregion[1] is defined %}
        {% set region = tmpregion[0] ~ tmpregion[1] %}
    {% else %}
        {% set region = tmpregion[0] %}
    {% endif %}

    <div class="jumbotron {{ region | replace({'ô': 'o'}) }}">

    </div>
    <div class="container-fluid">
    <div class="container-table-adapted mt-4">
        <div class="row">
            <div class="col-4 text-center">
                <img src="{{ asset('img/wines/' ~ userWine.image) }}"
                     height="auto"
                     width="auto"
                     class="dropdown-toggle wineImg"
                     id="dropdownMenuButton"/>
            </div>
            <div class="col-8">

                {# Appellation & Année #}
                <div class="row">
                    <div class="col-12 appellationDescribe">
                        {{ userWine.getEntityVin().getAppellation() }} {{ userWine.getEntityVin().getAnnee() }}
                    </div>
                </div>
                {# Couleur, Note & Prix #}
                <div class="row">
                    <div class="col-2 colorDescribe">
                        {% if userWine.getEntityVin().getEntityCouleur().getCouleur() == "Blanc" %}
                            <div class="whiteBtl"></div>
                        {% elseif userWine.getEntityVin().getEntityCouleur().getCouleur() == "Rosé" %}
                            <div class="roseBtl"></div>
                        {% elseif userWine.getEntityVin().getEntityCouleur().getCouleur() == "Rouge" %}
                            <div class="redBtl"></div>
                        {% endif %}
                    </div>
                    <div class="col-6 col-md-5 noteDescribe">
                        {% if userWine.getNote() is not empty %}
                            {% set empty_star = 5 - userWine.getNote() %}
                            {% for i in 1..userWine.getNote() %}
                                <img src="{{ asset('img/star.png') }}" class="starImg">
                            {% endfor %}
                            {% if empty_star != 0 %}
                                {% for i in 1..empty_star %}
                                    <img src="{{ asset('img/empty-star.png') }}" class="starImg">
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for i in 1..5 %}
                                <img src="{{ asset('img/empty-star.png') }}" class="starImg">
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-2 col-md-3 priceDescribe">
                        {% if userWine.getPrix() is not empty %}
                            {{ userWine.getPrix() }} €
                        {% endif %}
                    </div>
                </div>

                {# Domaine #}
                <div class="row">
                    <div class="col-12 domainDescribe">
                        {{ userWine.getEntityVin().getEntityDomaine().getDomaine() }}
                    </div>
                </div>

                {# Région #}
                <div class="row">
                    <div class="col-12 regionDescribe">
                        {{ userWine.getEntityVin().getEntityRegion().getRegion() }}, {{ userWine.getEntityVin().getEntityRegion().getEntityPays().getPays() }}
                    </div>
                </div>

                {# Quantité & Modification #}
                <div class="row">
                    <div class="col-6 quantityDescribe">
                        En cave : {{ userWine.getQuantite() }}
                    </div>
                    <div class="col-6 col-md-5 modifyBtl">
                        <button class="editBtn" id="{{ 'edit' ~ userWine.getIdVin() }}">MODIFIER</button>
                    </div>
                </div>

                {# Utiliser #}
                {% if userWine.getQuantite() > 0 %}
                    <div class="row">
                        <div class="col-6">
                            <button class="useBtn" id="{{ 'use' ~ userWine.getIdVin() }}">UTILISER</button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if userWine.getDescription()is not empty %}
            <div class="row">
                <div class="offset-1 col-10 descriptionDescribe">
                    <span class="commentTitle">Commentaire</span>
                    {{ userWine.getDescription() }}
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bottle.js') }}"></script>
{% endblock %}