{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bottle.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron">

    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4 wineImg text-center">
                <img src="{{ vich_uploader_asset(userWine, 'imageFile') }}"
                     height="400px"
                     width="300px"
                     class="dropdown-toggle profileImg"
                     id="dropdownMenuButton"/>
            </div>
            <div class="col-8">
                <div class="col-12 noteDescribe">
                    {% if userWine.getNote() is not empty %}
                        {{ userWine.getNote() }} Note basée sur le millésime {{ wine.getAnnee() }}
                    {% else %}
                        Vous n'avez pas encore assigné de note à ce vin
                    {% endif %}
                </div>
                <div class="col-12">
                    {% if userWine.getPrix() is not empty %}
                        {{ userWine.getPrix() }} €
                    {% else %}
                        Vous n'avez pas encore renseigné de prix à ce vin
                    {% endif %}
                </div>
            </div>

            {{ dump(userWine) }}

            {{ dump(wine) }}
            {#
            <h2 class="mt-3 mb-3">Consultation de la bouteille de {{ vin.appellation }}</h2 class="mt-3 mb-3">
            <div class="col-12">
                Région : {{ vin.region }}
            </div>
            <div class="col-12">
                Couleur : {{ vin.couleur }}
            </div>
            <div class="col-12">
                Appellation : {{ vin.appellation }}
            </div>
            <div class="col-12">
                Château : {{ vin.chateau }}
            </div>
            <div class="col-12">
                Année : {{ vin.annee }}
            </div>
            <div class="col-12">
                Prix : {{ vin.prix }}
            </div>
            <div class="col-12">
                Quantité : {{ vin.quantite }}
            </div>
            <div class="col-12">
                Description : {{ vin.description }}
            </div>
            <div class="col-12">
                Image : {{ vin.image }}
            </div>
            <div class="col-12">
                Note : {{ vin.note }}
            </div>
            <div class="col-12">
                <a class="btn btn-light" href="{{ path ('caveavin') }}">
                    Retour
                </a>
            </div>
#}
        </div>
    </div>
{% endblock %}