{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <a role="button" href="{{ path('caveavin.gestion.ajout') }}" class="btn btn-outline-dark">
                    <i class="fa fa-plus"></i> Ajouter un vin
                </a>
            </div>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Région</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Appelation</th>
                    <th scope="col">Année</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for vin in vins %}
                        <tr>
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.region | capitalize }}</td>
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.couleur | capitalize }}</td>
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.appellation }}</td>
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.annee }}</td>
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.quantite }}</td>
                            {%  if vin.prix is empty %}
                                <td data-id="{{ vin.id }}" style="cursor : pointer;">NC</td>
                            {% else %}
                                <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.prix }} €</td>
                            {% endif %}
                            <td data-id="{{ vin.id }}" style="cursor : pointer;">{{ vin.note }}</td>
                            <!-- Should be the last column -->
                            <td>
                                <i class="fa fa-edit" title="Modifier"></i>
                                <i class="fa fa-archive ml-3 useWine" id="{{ 'use' ~ vin.id }}" title="Utiliser"></i>
                            </td>
                        </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function()
        {
            var tr  = document.getElementsByTagName("tr");
            var use = document.getElementsByClassName("useWine");
            
            for (var i = 0; i < use.length; i++)
            {
                use[i].addEventListener("click", useWine, false);
            }

            for (var i = 0; i < tr.length; i++)
            {
                for (var j = 0; j < (tr[i].cells.length - 1); j++)
                {
                    tr[i].cells[j].addEventListener("click", redirect, false);
                }
            }

            function useWine()
            {
                var id = this.getAttribute('id').substring(3);
                if (id != null)
                {
                    window.location.href = '/caveavin/utiliser/' + id;
                }
            }

            function redirect()
            {
                var id = this.getAttribute("data-id")
                if (id != null)
                {
                    window.location.href = '/caveavin/bouteille/' + id;
                }
            }            
        });
    </script>
{% endblock %}