{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/macave.css') }}">
{% endblock %}

{% block body %}
    <div class="container-table-adapted mt-4">
        <div class="row">
            <div class="col-6">
                <a role="button" href="{{ path('caveavin.gestion.ajout') }}" class="btn btn-outline-dark">
                    <i class="fa fa-plus"></i> Ajouter un vin
                </a>
            </div>
            <div class="col-6 text-right">
                <a role="button" href="{{ path('caveavin.archive') }}" class="btn btn-outline-dark">
                    <img src="{{ asset('img/archive.png') }}"
                         height="30px" 
                         width="30px" /> Archive
                </a>
            </div>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Région</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Appelation</th>
                    <th scope="col">Année</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for vin in vins %}
                    <tr>
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.region | capitalize }}</td>
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.couleur | capitalize }}</td>
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.appellation }}</td>
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.annee }}</td>
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.quantite }}</td>
                        {%  if vin.prix is empty %}
                            <td data-id="{{ vin.id }}" class="pointer">NC</td>
                        {% else %}
                            <td data-id="{{ vin.id }}" class="pointer">{{ vin.prix }} €</td>
                        {% endif %}
                        <td data-id="{{ vin.id }}" class="pointer">{{ vin.note }}</td>
                        <!-- Should be the last column -->
                        <td>
                            <img src="{{ asset('img/modifier.png') }}"
                                 class="editWine" 
                                 id="{{ 'edit' ~ vin.id }}" 
                                 title="Modifier"
                                 height="30px" 
                                 width="30px" />
                            <img src="{{ asset('img/utiliser.png') }}" 
                                 class="useWine ml-3" 
                                 id="{{ 'use' ~ vin.id }}" 
                                 title="Utiliser" 
                                 height="30px" 
                                 width="30px" />
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/macave.js') }}"></script>
{% endblock %}