{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <a role="button" href="{{ path('caveavin.gestion.ajout') }}" class="btn btn-outline-dark">
                    <i class="fa fa-plus"></i> Ajouter un vin
                </a>
            </div>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Région</th>
                    <th scope="col">Couleur</th>
                    <th scope="col">Appelation</th>
                    <th scope="col">Année</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Note</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {%  for vin in vins %}

                        <tr data-id="{{ vin.id }}">

                            <td data-id="{{ vin.id }}">{{ vin.region | capitalize }}</td>

                            <td>{{ vin.couleur | capitalize }}</td>
                            <td>{{ vin.appellation }}</td>
                            <td>{{ vin.annee }}</td>
                            {%  if vin.prix is empty %}
                                <td>NC</td>
                            {% else %}
                                <td>{{ vin.prix }} €</td>
                            {% endif %}
                            <td>{{ vin.note }}</td>
                            <td>
                                <i class="fa fa-edit" title="Modifier"></i>
                                <i class="fa fa-archive ml-3" title="Archiver"></i>
                            </td>
                        </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function()
        {
            function redirect()
            {
                var id = this.getAttribute("data-id")
                if (id != null)
                {
                    var test = this.getAttribute("data-id")
                    console.log("id", test);

                   // window.location = '{{ path("caveavin.bouteille.information", {'id': 'id' }) }}';
                }
            }

            var tr = document.getElementsByTagName("tr");
            for (var i = 0; i < tr.length; i++)
            {
                tr[i].addEventListener("click", redirect, false);
            }


        });

    </script>
{% endblock %}